asgiref==3.5.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.11
dj-database-url==0.5.0
Django==4.0.2
django-scheduler==0.9.5
environs==9.5.0
gunicorn==20.1.0
icalendar==4.0.9
idna==3.3
lxml==4.7.1
marshmallow==3.19.0
mysqlclient==2.1.0
packaging==23.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyaes==1.6.1
PySocks==1.7.1
pyTelegramBotAPI==4.4.0
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2021.3
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
TgCrypto==1.2.3
tzdata==2021.5
urllib3==1.26.8
whitenoise==5.3.0
